/* CSS for header and nav bars */

.header {
  margin-left: 100px;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.top-nav1 {
  margin-right: 250px;
}

.top-nav1 a {
  color: lightseagreen;
  text-decoration: none;
}

.top-nav2 {
  margin-left: 250px;
}

.top-nav2 a {
  color: Black;
  text-decoration: none;
}

.top-nav1 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav1 li {
  color: lightseagreen;
  float: left;
  margin: 10px;
}

.header img {
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 50%;
  width: 50px;
  height: 15;
}

.header2 {
  margin-left: 200px;
  display: flex;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}

.header2 img {
  border-radius: 50%;
  width: 65%;
}

.top-nav2 ul {
  margin-left: 00px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-nav2 li {
  margin-left: 100px;
  font-size: 24px;
  float: left;
  margin: 10px;
}

.top-nav2 input {
  justify-content: flex-end;
  margin-top: 14px;
  margin-left: 50px;
}

.top-nav2 i {
  margin-top: 7px;
  margin-left: 5px;
}

li a:hover {
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}


/*Underline Hover Effect*/

li {
  position: relative;
}

li::after {
  content: '';
  display: block;
  width: 0;
  position: absolute;
  left: 50%;
  height: 3px;
  background: #0077ff;
  transition: cubic-bezier(.77, 0, .18, 1) 1s;
}

li:hover::after {
  width: 80%;
  left: 10%;
}

/* CSS for HOME */

span {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

#home {
  margin-top: 150px;
  margin-left: 300px;
  /* flex-wrap: wrap; */
  margin-bottom: 250px;
}

.main-header {
  display: flex;
  align-items: center;
}

.main-header h1 {
  display: inline-block;
  margin-bottom: 11%;
  color: lightblue;
  width: 800px;
}

.main-description {
  margin-top: -170px;
  display: flex;
  width: 600px;
  line-height: 20px;
}

.main-image img {
  border-radius: 50%;
  width: 40%;
  margin-left: 130px;
}

/* CSS for Why Eat Healthy */

span {
  color: black;
  font-size: larger;
  font-weight: bolder;
}

#why-eat-healthy {
  padding-top: 100px;
  padding-bottom: 300px;
  background-color: #F0F0F0;
  margin-top: 100px;
  padding-left: 300px;
  /* margin-bottom: 100px; */
}

.main-header2 {
  display: flex;
  align-items: center;
  justify-content: s;
  margin-bottom: 20px;
}

.main-header2 h1 {
  margin-right: 300px;
  display: inline-block;
  margin-bottom: 11%;
  color: lightblue;
  width: 800px;
}

.main-description2 {
  margin-right: 300px;
  margin-top: -230px;
  display: flex;
  width: 600px;
  line-height: 20px;
}

.main-image2 img {
  margin-top: 150px;
  border-radius: 50%;
  width: 500%;
  margin-left: -270px;
  padding: 30px;
}

/* Nutritional Facts CSS */

#nutritional-facts {
  padding-top: 100px;
  padding-bottom: 300px;
  background-color: black;
  /* margin-top: 100px; */
  padding-left: 300px;
  margin-bottom: 100px;
}

.main-header3 {
  display: flex;
  align-items: center;
  justify-content: s;
  margin-bottom: 20px;
  color: white;
}

.main-header3 h1 {
  margin-right: 300px;
  display: inline-block;
  margin-bottom: 11%;
  color: lightblue;
  width: 800px;
}

.main-header3 span {
  color: white;
}

.main-description3 {
  color: white;
  margin-right: 300px;
  margin-top: -230px;
  display: flex;
  width: 600px;
  line-height: 20px;
}

.main-image3 img {
  margin-top: 150px;
  border-radius: 50%;
  width: 500%;
  margin-left: -270px;
  padding: 30px;
}

/* CSS for Recipe and Ingredients LocalStorage Saver */

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.row {
  border-top: 1px solid white;
  background-color: #d3d3d3;
  border-radius: 15px;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* About Us */

#about-us {
  padding-top: 100px;
  padding-bottom: 300px;
  background-color: #F0F0F0;
  /* margin-top: 100px; */
  padding-left: 300px;
  margin-bottom: 100px;
}

.main-header4 {
  margin-right: 160px;
  align-items: center;
  margin-bottom: -100px;
  color: black;
  text-align: center;
}

.main-header4 h1 {
  margin-right: 160px;
  text-align: center;
  display: inline-block;
  margin-bottom: 11%;
  color: lightblue;
  width: 800px;
}

.main-header4 span {
  text-align: center;
  color: black;
}

.main-description4 {
  margin-left: 50px;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black
  margin-top: -300px;
  width: 1000px;
  line-height: 25px;
}

/* Our Team CSS */

#our-team {
  /* padding-top: 100px; */
  padding-bottom: 300px;
  /* margin-top: 100px;
  padding-left: 300px;
  margin-bottom: 100px;
  */
}

.main-header5 {
  /* margin-right: 160px; */
  align-items: center;
  margin-bottom: -100px;
  color: black;
  text-align: center;
}

.main-header5 h1 {
  font-size: 55px;
  /* margin-right: 163px; */
  /* text-align: center;  */
  margin-bottom: 11%;
  color: black;
  /* width: 800px; */
  /* margin-left: 150px; */
}

.team {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-bottom: 20px; */
  color: white;
  /* margin-left: 50px; */
}

.team h1 {
  margin-bottom: 11%;
  color: black;
  /* padding-right: 200px; */
}

.team img {
  border-radius: 50%;
  width: 15%;
  /* margin-right: 300px; */
  padding: 30px;

}

.team-description {
  /* margin-right: 300px;
  /* margin-top: -230px; */
  /* display: flex; */
  width: 600px;
  line-height: 20px;
  color: black;
}

/* Contact Us CSS */

 .contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.contact-description {
  width: 600px;
  line-height: 20px;
  color: black;
 }
 .contact-description i {
  margin-right: 10px;
 }

  /* Footer */

  .footer {
    padding: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
  }

  .footer h6 {
    font-size: 20px;
  }