
  .header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;

  }

  .top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .top-nav li {
    float: left;
    margin: 10px;
  } 
  .header img {
    border-radius: 50%;
    width: 10%;
}

/* CSS for Recipe and Ingredients LocalStorage Saver */

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }

  .description {
    white-space: pre-wrap;
  }

  .row {
    border-top: 1px solid white;
    background-color: #d3d3d3;
    border-radius: 15px;
  }

  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }

  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }

  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }